.noti_write {
    width: 1200px;
    margin: 50px auto;
}

.noti_write h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.noti_write table {
    width: 100%;
    border: 2px dashed #333;
}

.noti_write td {
    border: 1px dashed #333;
    padding: 20px 10px;
}

.noti_write tbody tr {
    text-align: left;
}
