html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}

.sub_nav{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ADB5BD ;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.sub_nav > ul{
    width: 1190px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
}

.sub_nav >ul a{
    position: relative;
    font-size: 1.12rem;
    text-align: center;
    font-weight: 600;
    color: #ADB5BD;
    padding:10px 20px;

}

.sub_active{
    color: #111987 !important;
}

.sub_active::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -11px;
    width: 100%;
    height: 4px;
    background-color: #111987;
}

.sec1{
    width: 100%;
    padding-top: 70px;
    box-sizing: border-box;
}

.inner{
    width: 1190px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.sec1_txt{
    margin-top: 20px;
    width: 50%;
    float: left;
}


span{
    font-size: 1.12rem;
    color: #111987;
}

h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #111987;
    margin-top: 10px;
    
}

p{  
    line-height: 2.2rem;
    color: #343A40;
    margin-top: 30px;
    word-break: keep-all;
    letter-spacing: -1px;
}


.img1_wrap{
    width: 50%;
}

.img1_wrap img{
    width: 30rem;
    float: right;
}


.sec2{
    width: 100%;
    padding: 130px 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    position: relative;
    top: -60px;
    z-index: -1;
}

.img2_wrap{
    width: 50%;
}

.img2_bg{
    position: relative;
}

.img2_bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-20px , 20px);
    background: #009BA9;
    z-index: -1;
}

.img2_wrap img{
    width: 100%;
}

.img3_text_wrap{
    width: 50%;
    float: right;
}

.img3_wrap{
    display: flex;
    justify-content: space-between;
    width: 30rem;
    float: right;
}

.img3_wrap img{
    width: 49%;
}


.sec2_txt{
    margin-top: 60px;
    float: right;
    width: 30rem;
}


.sec3{
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
}

.inner2{
    width: 1190px;
    height: 100%;
    margin: auto;
    text-align: center;
}

.inner2 > h3{
    position: relative;
    display: inline;
    text-align: center;
}
/* 
.inner2 > h3::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 4px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    background-color: #0C1157;
} */



.map_wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.map_wrap ul{
    margin-right: 20px;
}

.google_map{
    width: 36.5rem;
    height: 36.5rem;
    border: 1px solid #ADB5BD;
}



.sec3 li:first-child h5{
    margin-top: 20px;
}

h5{
    font-size: 1.75rem;
    font-weight: 600;
    color: #111987;
    margin-top: 50px;
    position: relative;
}

.sec3 h5::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    background-color: #0C1157;
}

.sec3 p{
    margin-top: 10px;
    line-height: 2rem;
}

.sec3 p span{
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 1.2rem;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.sec3 p span:nth-child(2n){
    margin-left:10px;
}

.sec3 p .n2{
    background-color: #FFD03C;
}

.sec3 p .n3{
    background-color: #3CB44A;
}


.sec4{
    width: 100%;
    padding-top: 190px;
    box-sizing: border-box;
}

.sec4 .inner > div{
    width: calc(100% - 20px);
    height: 22rem;
    position: relative;
    background-color: #111987;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.sec4 .inner > div::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(20px , 20px);
    background: #009BA9;
    z-index: -1;
}

.sec4 .inner h3{
    color: #fff;
    display: block;
    margin: auto;
}

.sec4 .inner h5{
    color: #009BA9;
    display: block;
    margin: auto;
}

.sec4 .inner span{
    color: #fff;
    display: block;
    margin: auto;
}

.sec4 .inner p{
    color: #8B8BCE;
    display: block;
    margin: auto;
}


@media only screen and (max-width:1190px){
    html{
        font-size: 15px;
    }
    
    
    .sub_nav > ul, .inner, .inner2{
        width: 1000px;
    }

    .sub_nav > ul{
        height: 56px;
    }

    
    .sub_active::after{
        bottom: -8px;
    }

    .sec1{
        padding-top: 50px;
    }

    .sec2{
        top: -40px;
        padding: 90px 0;
    }

    .sec3{
        padding: 30px 0;
    }

    .sec4{
        padding-top: 160px; 
    }


    /* max-width:1290px */
}


@media only screen and (max-width:1000px){

.sub_nav > ul, .inner, .inner2{
        width: 90%;
    }

    p{
        line-height: 1.8rem;
        width: 42vw;
    }

    .sec1_txt_hide{
        display: none;
    }

    .img1_wrap{
        width: 44vw;
    }
    
    .img1_wrap img{
        width: 100%;
    }

    .img2_wrap{
        position: relative;
    }
    
    
    .img2_wrap img{
        width: 42vw
    }
    
    .img2_bg::before{
        width: 90%;

    }


    .img3_wrap{
        display: flex;
        justify-content: space-between;
        width: 44vw;
    }
    
    .img3_wrap img{
        width: 47%;
    }    


    .sec2_txt{
        width: 44vw;
    }


    .google_map{
        width: 48vw;
    }



    .map_wrap ul{
        margin-right: 0;
    }
}


@media only screen and (max-width:780px){
    html{
        font-size: 14px;
    }

    .sec1{
        margin-bottom: 30px;
    }

    .sec1 .inner{
        flex-direction: column-reverse;
    }

    .sec2 .inner{
        flex-direction: column;
    }

    .img1_wrap {
        width: 100%;
    }

    .sec1_txt {
        width: 100%;
    }


    p {

        width: 100%;
    }

    .sec2 {
        top: 0;
        padding: 50px 0;
    }

    .img2_wrap {
        width: 100%;
        margin-bottom: 50px;
    }

    .img2_bg::before{
        display: none;
    }


    .img2_wrap img {
        width: 100%;
    }

    .img3_text_wrap {
        width: 100%;
    }

    .img3_wrap {
        width: 100%;
    }

    .sec2_txt {
        width: 100%;
        margin-top: 20px;
    }
    .map_wrap{
        flex-direction: column;
        margin-top: 30px;
    }

    .google_map {
        width: 100%;
        height: 90vw;
        margin-bottom: 30px;
    }
    .sec3 {
        padding: 50px 0;
    }

    .sec4 {
        padding-top: 50px;
    }
    .sec4 .inner h3 {
        display: none;
    }

    .sec4 .inner p {
        text-align: center;
    }
}